header {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

.logo {
  width: 300px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 85px;
  font-family: "DM Sans", sans-serif;
}

.search-bar {
  width: 100%;
  margin-bottom: 30px;
}

.field-input {
  width: 100%;
  display: flex;
}

.search {
  position: absolute;
  right: 110px;
  margin-top: 14px;
  width: 25px;
}

.search-input {
  background: #e7e7e7;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  border: none;
}

.tag-section {
  width: 100%;
  max-width: 1140px;
  margin-left: 30px;
}

#tag {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 13px;
  position: relative;
  top: -16px;
  margin-right: 10px;
  font-family: "DM Sans", sans-serif;
  width: 131px;
  justify-content: center;
  align-items: center;
}

.fa-circle-xmark:before {
  content: "\f017";
  margin-left: 10px;
  font-family: "Font Awesome 6 Free";
}

#span-tag {
  display: flex;
}

.bg-blue {
  background-color: #3282f7;
}

.bg-green {
  background-color: #68d9a4;
}

.bg-orange {
  background-color: #ed6454;
}

.filter-section {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 1140px;
  margin-left: 30px;
}

.ingredients-input,
.appareils-input,
.ustensiles-input {
  border: none;
  color: white;
  padding: 20px 15px;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
}

.ingredients-input {
  background-color: #3282f7;
}

.appareils-input {
  background-color: #68d9a4;
}

.ustensiles-input {
  background-color: #ed6454;
}

.ingredients-input::placeholder,
.appareils-input::placeholder,
.ustensiles-input::placeholder {
  color: white;
}

.Ingredients,
.Appareils,
.Ustensiles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.angle-down-ing {
  position: absolute;
  width: 20px;
  margin-left: 40px;
  cursor: pointer;
}

.angle-up-ing {
  position: absolute;
  width: 20px;
  margin-left: 40px;
  cursor: pointer;
  display: none;
}

.angle-down-app {
  position: absolute;
  width: 20px;
  margin-left: 40px;
  cursor: pointer;
}

.angle-up-app {
  position: absolute;
  width: 20px;
  margin-left: 40px;
  cursor: pointer;
  display: none;
}

.angle-down-us {
  position: absolute;
  width: 20px;
  margin-left: 40px;
  cursor: pointer;
}

.angle-up-us {
  position: absolute;
  width: 20px;
  margin-left: 40px;
  cursor: pointer;
  display: none;
}

.list-ingredient,
.list-appareil,
.list-ustensile {
  color: white;
  border-radius: 5px;
  position: absolute;
}

.list-ingredient {
  background-color: #3282f7;
  display: none;
}

.list-appareil {
  background-color: #68d9a4;
  display: none;
}

.list-ustensile {
  background-color: #ed6454;
  display: none;
}

.ul-ingredient,
.ul-appareil,
.ul-ustensile {
  list-style: none;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  display: grid;
  gap: 0rem 5rem;
  grid-template-columns: repeat(3, 2fr);
}

#not-found-div {
  display: none;
}

.recipes-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: #e7e7e7;
  border-radius: 5px;
  margin: 30px 15px;
  width: 350px;
}

.card-header {
  height: 200px;
  background-color: #c7bebe;
  border-radius: 5px 5px 0px 0px;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 0px 20px;
}

.card-title {
  font-size: 15px;
}

.card-reveal {
  display: flex;
  padding: 0px 20px 20px 20px;
  height: 165px;
}

.flex-time {
  display: flex;
  align-items: center;
}

.card-time {
  width: 75px;
  font-size: 15px;
  margin-left: 10px;
}

.fa-regular,
.far {
  font-size: 20px;
}

.card-ingredients {
  margin-right: 20px;
  width: 150px;
  font-size: 12px;
}

.card-description {
  width: 120px;
  font-size: 12px;
  overflow: auto;
}

@media screen and (max-width: 1200px) {
  .main {
    margin: 0px 30px;
  }

  .recipes-cards {
    grid-template-columns: 1fr 1fr;
  }

  .search {
    right: 55px;
  }
}

@media screen and (max-width: 825px) {
  .main {
    margin: 0px 10px;
  }

  .filter-section {
    flex-direction: column;
  }

  .Ingredients,
  .Appareils,
  .Ustensiles {
    margin-bottom: 10px;
  }

  .recipes-cards {
    grid-template-columns: 1fr;
  }

  .ingredients-input,
  .appareils-input,
  .ustensiles-input {
    width: 100%;
  }

  .angle-down {
    right: 58px;
  }

  .search {
    right: 40px;
  }

  .card {
    width: 100%;
    margin: 15px 0px;
  }
}
